#graph-container {
  display: grid;
  grid-template-columns: 20% 80%;
  text-align: center;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

#control-box {
  background-color: ghostwhite;
  text-align: left;
  margin-left: 10px;
}

#control {
  margin-top: 10%;
  outline-color: aqua;
}

#gw-div-new {
  background-color: transparent;
}

#graph-box {
  margin-top: 3%;
}

#graph {
  overflow-x: scroll;
  min-height: 500px;
  resize: horizontal;
}

#comment-box {
  text-align: left;
  padding-top: 50px;
}

.ct {
  width: 100%;
}

#btn-view-events {
  margin-top: 10%;
}

#param-box {
  position: relative;
}

#param {
  display: inline-block;
}

#get-share-link {
  margin-left: 80%;
}

.control-element {
  width: 95%;
}